<link type="text/css" href="/static/www/css/head.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid padding-0">
    <div class="row margin-0">
        <div class="col-md-12 height-60" style="background:rgba(2,11,68,1);">
            <div class="row">
                <div class="col-md-12 height-18"></div>
                <div class="col-md-2" style="margin-top: 2px;">
                    <a href="/"><img src="/static/www/img/head/logo.png" width="60%" style="float: right;margin-top: 5px"></a>
                </div>
                <div class="col-md-3">
                    <ul style="margin: 5px">
                        <li class="menu-font"><a href="/purpose" style="color: #fff">功能</a></li>
                        <li class="menu-font" style="margin-left: 20px"><a href="/security" style="color: #fff">安全</a></li>
                        <li class="menu-font" style="margin-left: 20px"><a href="/about" style="color: #fff">关于</a></li>
                    </ul>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-1 menu-right">
                    <span class="margin-right-10">登录</span> | <span class="margin-left-10">注册</span>
                </div>
                <div class="col-md-1" style="padding-left: 0;margin-top: -2px">
                    <select class="menu-select">
                        <option>中文(简化)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>