<!DOCTYPE html>
<html lang="en">

<head>
  <META http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>VCoinTrade</title>
  <meta name="keywords" content="世界领先的加密货币交易平台">
  <meta name="description" content="世界领先的加密货币交易平台">
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
  <link type="text/css" href="/static/www/css/bootstrap-4.0.css" rel="stylesheet">
  <link type="text/css" href="/static/www/css/bootstrap-table.css" rel="stylesheet">
  <link type="text/css" href="/static/www/css/header.css" rel="stylesheet">




