{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/test/test.css" rel="stylesheet">
<style>
</style>
<div class="container-fluid">
    <div class="row">
        <s>This line of text is meant to be treated as no longer accurate.</s><br>
        <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
        <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr>is the best thing since sliced bread.</p>
        <div class="col-md-12">
            <address>
                <strong>Twitter, Inc.</strong><br>
                1355 Market Street, Suite 900<br>
                San Francisco, CA 94103<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>

            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
        </div>
        <div class="col-md-12">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
        </div>
        <div class="col-md-12">
            <blockquote class="blockquote-reverse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
        <!--无序列表-->
        <!--排列顺序无关紧要的一列元素。-->
        <div class="col-md-12">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </div>
        <div class="col-md-12">
            <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
            </ol>
        </div>
        <div class="col-md-12">
            <ul class="list-inline">
                <li>Lorem ipsum</li>
                <li>Phasellus iaculis</li>
                <li>Nulla volutpat</li>
            </ul>
        </div>
        <div class="col-md-12">
            <dl>
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
            </dl>
        </div>
        <div class="col-md-12">
            <dl class="dl-horizontal text-overflow">
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
                <!--<dt>Euismod</dt>-->
                <!--<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>-->
                <!--<dd>Donec id elit non mi porta gravida at eget metus.</dd>-->
            </dl>
        </div>
        <div class="col-md-12">
            For example, <code>&lt;section&gt;</code> should be wrapped as inline.
        </div>
        <div class="col-md-12">
            To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
            To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
        </div>
        <div class="col-md-12">
            <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
        </div>
        <div class="col-md-12">
            <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
        </div>
        <div class="col-md-12">
            <samp>This text is meant to be treated as sample output from a computer program.</samp>
        </div>
        <div class="col-md-12">
            <table class="table">
                <!-- On rows -->
                <tr class="active">
                    <td>1</td>
                    <td>Column heading</td>
                    <td>Column heading</td>
                    <td>Column heading</td>
                </tr>
                <tr class="success">
                    <td>2</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="warning">
                    <td>3</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="danger">
                    <td>4</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="info">
                    <td>5</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>

                <!-- On cells (`td` or `th`) -->
                <tr>
                    <td class="active">6</td>
                    <td class="success">Column content</td>
                    <td class="warning">Column content</td>
                    <td class="danger">Column content</td>
                </tr>
            </table>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>

    </div>
</div>
{include file="public/foot" /}