{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/about/about.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <!--行高-->
        <div class="col-md-12" style="height: 80px"></div>
        <!--第一行内容-->
        <div class="col-md-1" id="platform_introduction"></div>
        <div class="col-md-10">
            <div class="row">
                <!--第一行文字-->
                <div class="col-md-8">
                    <div class="col-md-12" style="height: 50px"></div>
                    <h1 class="text-center">世界领先的加密货币交易平台</h1>
                    <h2>VCoinTrade 是一个数字化资产交易平台，为数字货币交易者和全球流动性提供商提供最先进的服务。</h2>
                    <h2>VCoinTrade 成立于 2016年，是为了响应公众对加密货币交易不断上涨的兴趣而设置的首批专业平台之一。自成立以来，团队积累了宝贵的经验，
                        同时巩固了作为数字资产交易者和机构首选平台的地位。</h2>
                    <h2>除了一套先进的交易功能和图表工具外，VCoinTrade 还为各种数字资产提供点对点融资功能，这是一种 OTC 市场与保证金交易方式。
                        VCoinTrade 的策略重点是，为全球各地的专业交易者和流动性提供商提供无与伦比的支持、工具和创新。</h2>
                </div>
                <!--第一行图片-->
                <div class="col-md-4 right-img">
                    <img src="/static/www/img/about/one.png" width="100%">
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        <!--行高-->
        <div class="col-md-12" style="height: 142px"></div>
    </div>
</div>
{include file="public/foot" /}