{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/index/index.css" rel="stylesheet">
<div class="container-fluid padding-0">
    <div class="row margin-0">
        <!--背景-->
        <div class="col-md-12"  style="background:rgba(2,11,68,1);">
            <!--行高-->
            <div class="col-md-12" style="height: 60px"></div>
            <!--标题-->
            <div class="col-md-12 text-center">
                <h1>世界领先的加密货币交易平台</h1>
            </div>
            <!--行高-->
            <div class="col-md-12" style="height: 20px"></div>
            <!--按钮-->
            <div class="col-md-12 text-center">
                <a href="#" class="btn btn-primary btn-lg button-1" role="button" style="border: none">开户</a>
                <a href="#" class="btn btn-primary btn-lg button-2" role="button" style="margin-left: 10px;border: none">查看演示</a>
            </div>
            <!--行高-->
            <div class="col-md-12" style="height: 157px"></div>
            <!--表格-->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <div style="width: 80%">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs table-text" role="tablist" style="border-bottom:none;">
                            <li role="presentation" class="active title-text"><a href="#USD" aria-controls="USD" role="tab" data-toggle="tab" style="text-decoration:none;">USD</a></li>
                            <li role="presentation" class="title-text"><a href="#EUR" aria-controls="EUR" role="tab" data-toggle="tab" style="text-decoration:none;">EUR</a></li>
                            <li role="presentation" class="title-text"><a href="#GBP" aria-controls="GBP" role="tab" data-toggle="tab" style="text-decoration:none;">GBP</a></li>
                            <li role="presentation" class="title-text"><a href="#JPY" aria-controls="JPY" role="tab" data-toggle="tab" style="text-decoration:none;">JPY</a></li>
                            <li role="presentation" class="title-text"><a href="#BTC" aria-controls="BTC" role="tab" data-toggle="tab" style="text-decoration:none;">BTC</a></li>
                            <li role="presentation" class="title-text"><a href="#ETH" aria-controls="ETH" role="tab" data-toggle="tab" style="text-decoration:none;">ETH</a></li>
                            <li role="presentation" class="title-text"><a href="#EOS" aria-controls="EOS" role="tab" data-toggle="tab" style="text-decoration:none;">EOS</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" style="background-color:rgba(2,9,51,1)">
                            <div role="tabpanel" class="tab-pane active" id="USD"><table class="table" id="USD_table"></table></div>
                            <div role="tabpanel" class="tab-pane" id="EUR"><table class="table" id="EUR_table"></table></div>
                            <div role="tabpanel" class="tab-pane" id="GBP"><table class="table" id="GBP_table"></table></div>
                            <div role="tabpanel" class="tab-pane" id="JPY"><table class="table" id="JPY_table"></table></div>
                            <div role="tabpanel" class="tab-pane" id="BTC"><table class="table" id="BTC_table"></table></div>
                            <div role="tabpanel" class="tab-pane" id="ETH"><table class="table" id="ETH_table"></table></div>
                            <div role="tabpanel" class="tab-pane" id="EOS"><table class="table" id="EOS_table"></table></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--行高-->
            <div class="col-md-12" style="height: 42px"></div>
        </div>
        <!--行高-->
        <div class="col-md-12" style="height: 83px"></div>
        <!--第一行文字-->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center" style="margin: 0">
                    <!--标题-->
                    <h2 class="text-center">关于VCoinTrade</h2>
                    <!--文字-->
                    <h4>
                        VCoinTrade 是主要数字资产和加密货币（包括比特币、以太坊、EOS、莱特币、瑞波币、NEO、门罗币和许多其他货币）
                        的全功能现货交易平台。
                    </h4>
                    <h4>
                        VCoinTrade 通过点对点融资市场提供杠杆化保证金交易，让用户最高可以使用 3.3 倍的杠杆安全地交易。
                        我们还提供多种订单类型，帮助交易者充分利用每一种形势。
                    </h4>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <!--行高-->
        <div class="col-md-12" style="height: 110px"></div>
        <!--第三行-->
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-1">
                    <img src="/static/www/img/jiao_yi_suo.png">
                </div>
                <div class="col-md-11">
                    <h3>交易所</h3>
                    <h4>VCoinTrade是全世界最具流动性的交易所，允许用户以最小的滑点轻松将 %{pairs} 。</h4>
                    <h4 class="more"><a href="/purpose#exchange">阅读更多</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <!--图标-->
                <div class="col-md-1">
                    <img src="/static/www/img/bao_zheng_jin.png">
                </div>
                <!--文字-->
                <div class="col-md-11">
                    <h3>保证金交易</h3>
                    <h4>VCoinTrade允许用户从点对点保证金融资平台接受融资，以此进行高达 3.3 倍杠杆的交易。</h4>
                    <h4 class="more"><a href="/purpose#margin_trading">阅读更多</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <!--行高-->
        <div class="col-md-12" style="height: 96px"></div>
        <!--第四行-->
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row">
                <!--图标-->
                <div class="col-md-1">
                    <img src="/static/www/img/rong_zi.png">
                </div>
                <!--文字-->
                <div class="col-md-11">
                    <h3>保证金融资市场</h3>
                    <h4>保证金融资市场提供了一种方式，可以通过向希望利用杠杆交易的交易者提供融资赚取利息。</h4>
                    <h4 class="more"><a href="/purpose#margin_financing_market">阅读更多</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <!--图标-->
                <div class="col-md-1">
                    <img src="/static/www/img/index/pin_lei.png">
                </div>
                <!--文字-->
                <div class="col-md-11">
                    <h3>订单类型</h3>
                    <h4>涵盖多种货币。主要包含FXC和USDT货币交易。</h4>
                    <h4 class="more"><a href="/purpose#order_type#customizable_interface">阅读更多</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <!--行高-->
        <div class="col-md-12" style="height: 96px"></div>
        <!--第五行-->
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row">
                <!--图标-->
                <div class="col-md-1">
                    <img src="/static/www/img/zi_ding_yi.png">
                </div>
                <!--文字-->
                <div class="col-md-11">
                    <h3>可自定义的界面</h3>
                    <h4>根据需要组织工作区：创建布局、选择主题、设置通知和数据首选项。</h4>
                    <h4 class="more"><a href="/purpose#customizable_interface">阅读更多</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <!--图标-->
                <div class="col-md-1">
                    <img src="/static/www/img/index/an_quan.png">
                </div>
                <!--文字-->
                <div class="col-md-11">
                    <h3>安全</h3>
                    <h4>用户信息和资金的安全是我们的第一要务。详细了解我们的安全功能和集成。</h4>
                    <h4 class="more"><a href="/security">阅读更多</a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <!--行高-->
        <div class="col-md-12" style="height: 144px"></div>
        <!--第六行-->
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <!--文字-->
                <div class="col-md-5">
                    <h2>高级图表工具</h2>
                    <h4>更喜欢图形化交易体验？直接从 VCoinTrade 图表交易:</h4>
                    <h4>可视化您的订单、仓位和价格警报</h4>
                    <h4>拖动以更改价格</h4>
                    <h4>点按以修改订单属性</h4>
                    <h4>查看仓位盈利</h4>
                    <h4>VCoinTrade 已集成 TradingView 图表，您可以使用一整套工具来绘制、批注、下载和分享您的图表。</h4>
                </div>
                <!--图片-->
                <div class="col-md-7">
                    <img src="/static/www/img/index/tu_biao.png" width="100%">
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <!--线-->
        <div class="col-md-1"></div>
        <div class="col-md-10" style="background:rgba(198,198,198,1);"></div>
        <div class="col-md-1"></div>
        <!--行高-->
        <div class="col-md-12" style="height: 128px"></div>
        <!--第七行-->
        <!--背景-->
        <div class="col-md-12" style="background:rgba(2,11,68,1);height: 207px;">
            <div class="row">
                <div class="col-md-2"></div>
                <!--手机图片-->
                <div class="col-md-2">
                    <img class="iPhone" src="/static/www/img/index/iPhone.png">
                </div>
                <div class="col-md-1"></div>
                <!--文字-->
                <div class="col-md-3">
                    <div class="col-md-12" style="height: 35px"></div>
                    <h5>保持连接</h5>
                    <h6>我们创建了让您可以随时交易的移动工具。</h6>
                    <h6>全面支持PC端页面交易</h6>
                    <h6>全面支持WAP端页面交易</h6>
                    <h6>7X24小时实时交易，全时段在线客服</h6>
                </div>
                <!--pc端-->
                <div class="col-md-1">
                    <div class="col-md-12" style="height: 53px"></div>
                    <div class="col-md-12 text-center">
                        <img src="/static/www/img/index/pc.png">
                        <h6 class="text-center" style="margin-top: 16px">PC端</h6>
                    </div>
                </div>
                <!--web端-->
                <div class="col-md-1">
                    <div class="col-md-12" style="height: 59px"></div>
                    <div class="col-md-12 text-center padding-0">
                        <img src="/static/www/img/index/web.png">
                        <h6 style="margin-top: 25px;">Web端</h6>
                    </div>
                </div>
                <!--网页版-->
                <div class="col-md-1 padding-0">
                    <div class="col-md-12" style="height: 54px"></div>
                    <div class="col-md-12 padding-0 text-center">
                        <img src="/static/www/img/index/webpage.png">
                        <h6 style="margin-top: 21px;">网页版</h6>
                    </div>
                </div>
            </div>
        </div>
        <!--行高-->
        <div class="col-md-12" style="height: 101px"></div>
        <!--第八行-->
        <div class="col-md-12 text-center">
            <h7>社区</h7>
        </div>
        <!--行高-->
        <div class="col-md-12" style="height: 16px"></div>
        <!--第九行-->
        <div class="col-md-12 text-center">
            <a href="https://twitter.com/bitfinex" target="_blank"><img  src="/static/www/img/index/tui_te.png"></a>
            <a href="https://t.me/bfxtelegram"><img class="img-left" src="/static/www/img/index/fei_ji.png"></a>
            <a href="https://www.facebook.com/bitfinex1"><img class="img-left" src="/static/www/img/index/f.png"></a>
            <a href="https://www.linkedin.com/company/bitfinex"><img class="img-left" src="/static/www/img/index/in.png"></a>
            <a href="https://www.youtube.com/channel/UCxOndh75c7-4Zlw42BGXQkQ"><img class="img-left" src="/static/www/img/index/you_tube.png"></a>
        </div>
        <!--行高-->
        <div class="col-md-12" style="height: 90px"></div>
    </div>
</div>
{include file="public/foot" /}